@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#main{
    width: 100%;
}

#contents{
    margin: auto;
}

#slide{
    float: left;
}

#text{
    float: left;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 3%;
    font-family: 'Noto Sans KR', sans-serif;
}

img{
    margin-left: 150px;
    width: 700px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
