@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

ul{
    font-family: 'Noto Sans KR', sans-serif;
}

li{
    list-style: none;
    float: left;
    background-color: darksalmon;
}

#nav{
    background-color: darkslategray;
    color: white;
}