{% load static %}
<link rel="stylesheet" href="{% static 'nav.css' %}">

<nav>
    <ul>
        <li style="list-style:none; float: left; margin-left: 5%;"><a href="{%url 'main:main' %}">Home</a></li>
    </ul>
    
    <ul id="nav">
        <li style="list-style:none; float:left; margin-left: 20%;"><a href="{%url 'searchapp:uploadFile' %}">이미지 검색하기</a></li>
        <li style="list-style:none; float:left; margin-left: 50px;"><a href="#">서비스 소개</a></li>
        <li style="list-style:none; float:left; margin-left: 50px;"><a href="#">피해구제방법</a></li>
        <li style="list-style:none; float:left; margin-left: 50px;"><a href="#">게시판</a></li>
        {% if user.is_authenticated %}
        <li class="right_menu" style="list-style:none; float:right; margin-right: 10%;"><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
        <li class="right_menu" style="list-style:none; float:right; margin-right: 10%;"><a href="{% url 'profile:mypage' %}">마이페이지</a></li>
        <li class="right_menu" style="list-style:none; float:right; margin-right: 10%;">{{user}}님, 반갑습니다.</li>
        {% else %}
        <li class="right_menu" style="list-style:none; float:right; margin-right: 10%;"><a href="#">로그인/회원가입</a></li>
        {% endif %}
    </ul>
</nav>
<br><br>
<hr size="3px" color="slategray">
<br>
