{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css'%}">

<main>
    <div class="main p-3 p-md-5 m-md-3 text-center" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190827/pngtree-digital-lines-background-image_306742.jpg'); background-repeat: no-repeat; background-position: center;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="main-text" style="color: white;">Cyber Undertaker</h1>
        <br>
        <p class="main-explane">1) 개인이 원치 않는 인터넷 기록 정리</p>
        <p class="main-explane">2) 망자의 디지털 흔적(디지털 유산) 정리</p>
        <p class="main-explane">3) 근거 없는 비방 게시물 및 허위 사실 정리</p>
        <a class="btn btn-outline-secondary" href="{%url 'searchapp:uploadFile' %}">서비스 이용하기</a>
      </div>
    </div>
  
    <div class="content d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 50%;">
        <div class="my-3 py-3">
          <h2 class="display-text">서비스 소개</h2>
          <p class="detail-text">디지털 유산 및 개인 및 단체가 원치 않는 인터넷 기록 정리</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>

      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 50%;">
        <div class="my-3 p-3">
          <h2 class="display-text">게시판</h2>
          <p class="detail-text">랄랄랄라랄라상세정보</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>


{% endblock %}